.wrap {
  @apply 
    bg-transparent 
    flex items-center 
    py-3 
    px-4 
    justify-between
}

.searchIcon {
  @apply
    absolute 
    top-1/2 
    left-3 
    transform 
    -translate-y-1/2 
    text-gray-500
}

.searchInput {
  @apply
    w-64 
    px-10 
    py-2 
    text-sm 
    text-gray-700 
    bg-white 
    rounded-t-md
    border
    border-transparent 
    focus:outline-none 
    focus:border-cyan-600
    focus:border-opacity-40
    appearance-none
}

.searchInputFullRounded {
  @apply
    searchInput
    rounded-md
}

.searchOptions {
  @apply
    absolute 
    top-full 
    left-0 
    w-full 
    bg-white 
    rounded-b-md 
    border 
    border-t-0 
    border-cyan-600 
    border-opacity-50 
    shadow-md 
    z-10
    overflow-auto
    max-h-32
}

.searchLoading {
  @apply text-cyan-600 flex items-center p-2
}

.searchItem {
  @apply
    flex 
    items-center
    justify-between 
    px-2 
    py-3 
    text-sm 
    text-gray-700 
    hover:bg-gray-100 
    hover:text-gray-900 
    cursor-pointer
    even:bg-gray-50
}