.labelText {
  @apply
    block 
    text-xs
    font-medium 
    absolute
    top-2
    left-4
    text-gray-600
}

.input {
  @apply
    pt-7
    pb-2
    px-4
    w-full
    text-sm 
    text-gray-700 
    bg-white 
    rounded-md
    border
    border-transparent 
    focus:outline-none 
    focus:border-cyan-600
    focus:border-opacity-40
    appearance-none
}