@import './custom-variables.scss';

.sidebar {
  width: $sidebar-size;
  @apply
    fixed
    left-0
    inset-y-0
    bg-transparent
    py-4 
    z-50
}

.navLink {
  @apply
  text-cyan-950
    text-base
    font-semibold
    cursor-pointer
    flex
    items-center
    p-3
    border-l-4
    border-transparent
    rounded-tr-3xl  
    rounded-br-3xl
    transition-all
    hover:text-cyan-700
    hover:border-cyan-600
}

.navLinkActive {
  @apply
    text-cyan-700
    bg-cyan-500
    bg-opacity-20
    border-cyan-600
}

.navIcon {
  @apply
    mr-2
    text-xl
}