@import './custom-variables.scss';

.sidebar {
  width: $sidebar-size;
  @apply
    fixed
    left-0
    inset-y-0
    bg-transparent
    py-4 
    z-50
    transition-all
    bg-cyan-500
    md:bg-transparent
    md:translate-x-0
}

.navLink {
  @apply
  text-cyan-950
    text-base
    font-semibold
    cursor-pointer
    flex
    items-center
    p-3
    border-l-4
    border-transparent
    rounded-tr-3xl  
    rounded-br-3xl
    transition-all
    hover:text-cyan-950
    hover:border-cyan-700
    md:hover:text-cyan-700
    md:hover:border-cyan-600
}

.navLinkActive {
  @apply
    text-cyan-950
    md:text-cyan-700

    bg-cyan-700
    md:bg-cyan-500

    bg-opacity-20
    md:bg-opacity-10
    
    border-cyan-700
    md:border-cyan-600
}

.navIcon {
  @apply
    mr-2
    text-xl
}

.toggleButton {
  @apply
    flex
    items-center
    lg:hidden
    text-2xl
    text-cyan-950
    outline-0
    active:text-cyan-800
    transition-all
    active:scale-90
    ml-auto
    mr-4
    md:hidden
}